/* Write your CSS here */
.each-repository {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  background-color: #f8f8ff;
  height: 300px;

  border-radius: 25px;
  list-style-type: none;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  .each-repository {
    height: 400px;
    width: 350px;
  }
}
.image {
  height: 80px;
  width: 80px;
}
@media screen and (min-width: 768px) {
  .image {
    height: 120px;
    width: 140px;
  }
}
.name {
  font-family: 'Roboto';
  font-size: 19px;
  color: #e73959;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .name {
    font-size: 19px;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .img {
    height: 30px;
    width: 30px;
  }
}
.count {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .count {
    font-size: 18px;
  }
}
